<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
<link rel="stylesheet" href="bootstrap.min.css"></link>
<script src="/jquery.min.js"></script>
<style>
  h2{
    text-align:center;
  }
  .my-wrapper{
    margin:0 auto;
    max-width:800px;
    position:relative;
    height:100%;
  }
  img{
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width:400px;
    padding-bottom:40px;
  }
  #footer {
    position:relative;
    z-index:10;
    text-align:center;
    color:#E8E8E8;
    margin-top:80px;
  }
  #footer a{
    color:inherit;
  }
  #footer .cissa{
    color:#B8B8B8;
  }
  #marksteve{
    color:#E8E8E8;
  }

</style>

</head>
<body class="container">
  <div class="my-wrapper"> 
    <img src="../assets/cissaLogo.png" alt="cissa">
    {{{body}}}
    </div>
    <div id="footer">
        <p>
        <a href="https://github.com/marksteve/dtmb">Game originally created by marksteve</a>  
        </p>
        <p>
        <a href="mailto:nathan.malishev@gmail.com?subject=Re CISSA App">Web app created by nathan</a>
        </p>
      
        <p class="cissa" >
        <a href="http://cissa.org.au">
          Computing and Information Systems Student Association
        </a></p>      
      </div>
</body>
</html>
