<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
<link rel="stylesheet" href="bootstrap.min.css"></link>
<style>
  h2{
    text-align:center;
  }
  .my-wrapper{
    margin:0 auto;
    max-width:500px;
    position:relative;
    height:100%;
  }
  img{
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width:90%;
    padding-bottom:40px;
  }
</style>

</head>
<body class="container">
  <div class="my-wrapper"> 
    <img src="../assets/cissaLogo.png" alt="cissa">
    <table class="table">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
      {{#each documents}}
      <tr>
        <td> {{counter @index }}</td>
        <td>{{this.name}}</td>
        <td>{{this.score}}</td>    
      </tr>
      {{/each}}
    </table>  
  </div>
</body>
</html>
