<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  hello
  <table>
    <tr>
      <td>Name</td>
      <td>Score</td>
    </tr>
    {{#each this}}
    {{#leaders}}
    <tr>
      <td>leaders.name</td>
      <td>leaders.score</td>
    </tr>
    {{/leaders}}
    {{/each}}
  </table>  
</body>
</html>
