<table class="table" style="max-width:550px;margin:auto;position:relative;">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
      {{#each documents}}
      <tr>
        <td> {{counter @index }}</td>
        <td>{{this.name}}</td>
        <td>{{this.score}}</td>
      </tr>
      {{/each}}
    </table>


